body {
  margin: 0;
}

ul {
  margin: auto;
  padding: 0;
}

li {
  list-style-type: none;
  border: 1px solid green;
  padding: 9px;
  margin: 3px;
}

input {
  margin-right: 10px;
}

label {
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#taskWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

legend {
  font-style: italic;
  color: rgb(95, 235, 95);
  font-weight: bold;
  border: 5px green solid;
  display: flex;
  padding: 10px;
  margin: 20px;
}

fieldset {
  border:2px solid rgb(95, 235, 95);
  background-color: rgb(19, 32, 28);
}

p {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: white;
  border: 1.5px solid green;
  background-color: hsla(106, 57%, 53%, 0.25);
  border-radius: 10px 100px / 120px;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
}